In [1]:
import openpyxl
from openpyxl import load_workbook
from openpyxl.utils import get_column_letter
import pandas as pd
import numpy as np
import re

In [2]:
link = r"C:\Users\nsyrymbet\Desktop\Поставщикам (with Shares).xlsx"

wb = load_workbook(link)
total = wb['TOTAL']

total.delete_rows(1)

wb.save(link)

In [3]:
df = pd.read_excel(link, sheet_name = 'TOTAL')
df

,Business Team\n,Level 2,Level 3,Level 5,Amount Share,Qty Share
0,MDA (Крупно-бытовая техника),NaN,NaN,NaN,0.313263,0.175335
1,NaN,Аксессуары для КБТ,NaN,NaN,0.009810,0.005376
2,NaN,NaN,Аксессуары для пылесосов,NaN,0.009810,0.005376
3,NaN,NaN,NaN,Фильтры для пылесосов,0.000000,0.000000
4,NaN,NaN,NaN,Шампуни для пылесосов,0.025256,0.012987
...,...,...,...,...,...,...
124,NaN,NaN,NaN,Мясорубки,0.168775,0.163851
125,NaN,NaN,Соковыжималка,NaN,0.172375,0.133333
126,NaN,NaN,NaN,Соковыжималка для цитрусовых,0.085102,0.076923
127,NaN,NaN,NaN,Соковыжималка с центрифугой,0.295876,0.182927
128,NaN,NaN,NaN,Соковыжималка шнековая,0.008646,0.000000

In [4]:
df = df.fillna(method="ffill", axis=1)
df

,Business Team\n,Level 2,Level 3,Level 5,Amount Share,Qty Share
0,MDA (Крупно-бытовая техника),MDA (Крупно-бытовая техника),MDA (Крупно-бытовая техника),MDA (Крупно-бытовая техника),0.313263,0.175335
1,NaN,Аксессуары для КБТ,Аксессуары для КБТ,Аксессуары для КБТ,0.00981,0.005376
2,NaN,NaN,Аксессуары для пылесосов,Аксессуары для пылесосов,0.00981,0.005376
3,NaN,NaN,NaN,Фильтры для пылесосов,0.0,0.0
4,NaN,NaN,NaN,Шампуни для пылесосов,0.025256,0.012987
...,...,...,...,...,...,...
124,NaN,NaN,NaN,Мясорубки,0.168775,0.163851
125,NaN,NaN,Соковыжималка,Соковыжималка,0.172375,0.133333
126,NaN,NaN,NaN,Соковыжималка для цитрусовых,0.085102,0.076923
127,NaN,NaN,NaN,Соковыжималка с центрифугой,0.295876,0.182927
128,NaN,NaN,NaN,Соковыжималка шнековая,0.008646,0.0

In [5]:
df = df.drop(columns = ['Business Team\n', 'Level 2', 'Level 3'])
df

                          Level 5 Amount Share Qty Share
0    MDA (Крупно-бытовая техника)     0.313263  0.175335
1              Аксессуары для КБТ      0.00981  0.005376
2        Аксессуары для пылесосов      0.00981  0.005376
3           Фильтры для пылесосов          0.0       0.0
4           Шампуни для пылесосов     0.025256  0.012987
..                            ...          ...       ...
124                     Мясорубки     0.168775  0.163851
125                 Соковыжималка     0.172375  0.133333
126  Соковыжималка для цитрусовых     0.085102  0.076923
127   Соковыжималка с центрифугой     0.295876  0.182927
128        Соковыжималка шнековая     0.008646       0.0

[129 rows x 3 columns]

In [6]:
df['Shops'] = pd.Series(["Итог по категориям" for x in range(len(df.index))])
df

                          Level 5 Amount Share Qty Share               Shops
0    MDA (Крупно-бытовая техника)     0.313263  0.175335  Итог по категориям
1              Аксессуары для КБТ      0.00981  0.005376  Итог по категориям
2        Аксессуары для пылесосов      0.00981  0.005376  Итог по категориям
3           Фильтры для пылесосов          0.0       0.0  Итог по категориям
4           Шампуни для пылесосов     0.025256  0.012987  Итог по категориям
..                            ...          ...       ...                 ...
124                     Мясорубки     0.168775  0.163851  Итог по категориям
125                 Соковыжималка     0.172375  0.133333  Итог по категориям
126  Соковыжималка для цитрусовых     0.085102  0.076923  Итог по категориям
127   Соковыжималка с центрифугой     0.295876  0.182927  Итог по категориям
128        Соковыжималка шнековая     0.008646       0.0  Итог по категориям

[129 rows x 4 columns]

In [7]:
df = df[['Shops', 'Level 5', 'Amount Share', 'Qty Share']]
df = df.dropna()
df = df.drop_duplicates()
df

                  Shops                       Level 5 Amount Share Qty Share
0    Итог по категориям  MDA (Крупно-бытовая техника)     0.313263  0.175335
1    Итог по категориям            Аксессуары для КБТ      0.00981  0.005376
2    Итог по категориям      Аксессуары для пылесосов      0.00981  0.005376
3    Итог по категориям         Фильтры для пылесосов          0.0       0.0
4    Итог по категориям         Шампуни для пылесосов     0.025256  0.012987
..                  ...                           ...          ...       ...
123  Итог по категориям                     Мясорубки     0.168775  0.163851
125  Итог по категориям                 Соковыжималка     0.172375  0.133333
126  Итог по категориям  Соковыжималка для цитрусовых     0.085102  0.076923
127  Итог по категориям   Соковыжималка с центрифугой     0.295876  0.182927
128  Итог по категориям        Соковыжималка шнековая     0.008646       0.0

[116 rows x 4 columns]

In [8]:
df = df.dropna()
df = df.drop_duplicates()
df = df[(df['Amount Share'] != 0) & (df['Qty Share'] != 0)]
df = df[(df['Amount Share'] != '#DIV/0') & (df['Qty Share'] != '#DIV/0')]
df = df.rename(columns = {'Level 5': 'Category', 'Amount Share':'Value'})
df

                  Shops                      Category     Value Qty Share
0    Итог по категориям  MDA (Крупно-бытовая техника)  0.313263  0.175335
1    Итог по категориям            Аксессуары для КБТ   0.00981  0.005376
2    Итог по категориям      Аксессуары для пылесосов   0.00981  0.005376
4    Итог по категориям         Шампуни для пылесосов  0.025256  0.012987
6    Итог по категориям                        Климат  0.013929  0.005714
..                  ...                           ...       ...       ...
122  Итог по категориям                     Сепаратор       1.0       1.0
123  Итог по категориям                     Мясорубки  0.168775  0.163851
125  Итог по категориям                 Соковыжималка  0.172375  0.133333
126  Итог по категориям  Соковыжималка для цитрусовых  0.085102  0.076923
127  Итог по категориям   Соковыжималка с центрифугой  0.295876  0.182927

[88 rows x 4 columns]

In [9]:
link2 = r"C:\Users\nsyrymbet\Desktop\Отчет по долям (магазины группы).xlsx"

wb = load_workbook(link2)
sheet = wb['Отчет по долям (магазины группы']

sheet.delete_rows(1)
sheet.delete_rows(1)
sheet.delete_rows(2)

wb.save(link2)

df2 = pd.read_excel(link2, sheet_name = 'Отчет по долям (магазины группы')
df2

,Unnamed: 0,Unnamed: 1,"22091 Arena_S г. Алматы, пр. Суюнбая 38-а","22101 Arena_S Алматы, мкр. Аксай 4, д. 30","22104 Arena_S Алматы, пр. Суюнбая 2, Корпус 9, ТК ""Мерей""","22109 Arena_S Алматы, ул. Толе би, д. 187","22112 Arena_S Алматы, ул. Сатпаева, д. 90, ТРК ""АДК""","22113 Arena_S Алматы, пр. аль-Фараби, д. 77/8, ТРЦ ""Esentai mall""","22114 Arena_S Алматы, пр. Абая, д. 109, ТРЦ ""Глобус""","22115 Arena_S Алматы, ул. Ташкентская, д. 507-а, ТЦ ""Арзан""",...,"22Z01 Arena_S Зайсан, ул. Керимбаева, д. 25","22Z02 Arena_S Аягоз, бул.Абая, строение 9, ТД “ЦУМ”","22Z03 Arena_S с.Урджар, пр.Абылай Хан, д.87","58C01 Arena_S Haier, Костанай, пр. аль-Фараби, д. 48, ТРЦ ""MART""","77B02 Arena_S г.Форт-Шевченко, ул.Жазмаганбет Кызылбаев, ст-е 26a","77B03 Arena_S с.Жетыбай, м-н.Жанакурылыс, участок 619","77D01 Arena_S обл.Западно-Казахстанская, с.Шынгырлау, ул.Лукпан Клышев, д.140","77D07 Arena_S с.Таскала, ул.Абая, строение 6-б",Склады,ЦРС Астана
0,Аксессуары для кухонных комбайнов,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Аксессуары для кухонных комбайнов,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Аксессуары для мультиварок,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
3,NaN,Аксессуары для мультиварок,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
4,Аксессуары для мясорубок,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,Хлебопечи,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
85,NaN,Хлебопечи,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
86,Чайники,NaN,1.000000,0.405920,0.259458,0.101655,0.327914,0.147054,0.297618,0.132798,...,1.000000,0.000000,1.000000,0.0,0.0,NaN,NaN,0.000000,0.146394,0.124723
87,NaN,Стекло,1.000000,0.405920,0.259458,0.101655,0.327914,0.147054,0.297618,0.132798,...,1.000000,0.000000,1.000000,0.0,0.0,NaN,NaN,0.000000,0.146394,0.124723
88,NaN,Итого:,0.099956,0.161768,0.321883,0.322936,0.396828,0.080121,0.242932,0.266020,...,0.384375,0.115073,0.319077,0.0,0.0,0.0,0.060548,0.100026,0.188882,0.262326

In [10]:
df3 = df2[['Unnamed: 0', 'Unnamed: 1']].fillna(method="ffill", axis=1)
df3

                           Unnamed: 0                         Unnamed: 1
0   Аксессуары для кухонных комбайнов  Аксессуары для кухонных комбайнов
1                                 NaN  Аксессуары для кухонных комбайнов
2          Аксессуары для мультиварок         Аксессуары для мультиварок
3                                 NaN         Аксессуары для мультиварок
4            Аксессуары для мясорубок           Аксессуары для мясорубок
..                                ...                                ...
84                          Хлебопечи                          Хлебопечи
85                                NaN                          Хлебопечи
86                            Чайники                            Чайники
87                                NaN                             Стекло
88                                NaN                             Итого:

[89 rows x 2 columns]

In [11]:
df2['Unnamed: 1'] = df3['Unnamed: 1']
df2 = df2.drop(columns =['Unnamed: 0'])
df2

,Unnamed: 1,"22091 Arena_S г. Алматы, пр. Суюнбая 38-а","22101 Arena_S Алматы, мкр. Аксай 4, д. 30","22104 Arena_S Алматы, пр. Суюнбая 2, Корпус 9, ТК ""Мерей""","22109 Arena_S Алматы, ул. Толе би, д. 187","22112 Arena_S Алматы, ул. Сатпаева, д. 90, ТРК ""АДК""","22113 Arena_S Алматы, пр. аль-Фараби, д. 77/8, ТРЦ ""Esentai mall""","22114 Arena_S Алматы, пр. Абая, д. 109, ТРЦ ""Глобус""","22115 Arena_S Алматы, ул. Ташкентская, д. 507-а, ТЦ ""Арзан""","22117 Arena_S Алматы, мкр. Самал-2, д. 111, ТРЦ “Dostyk Plaza”",...,"22Z01 Arena_S Зайсан, ул. Керимбаева, д. 25","22Z02 Arena_S Аягоз, бул.Абая, строение 9, ТД “ЦУМ”","22Z03 Arena_S с.Урджар, пр.Абылай Хан, д.87","58C01 Arena_S Haier, Костанай, пр. аль-Фараби, д. 48, ТРЦ ""MART""","77B02 Arena_S г.Форт-Шевченко, ул.Жазмаганбет Кызылбаев, ст-е 26a","77B03 Arena_S с.Жетыбай, м-н.Жанакурылыс, участок 619","77D01 Arena_S обл.Западно-Казахстанская, с.Шынгырлау, ул.Лукпан Клышев, д.140","77D07 Arena_S с.Таскала, ул.Абая, строение 6-б",Склады,ЦРС Астана
0,Аксессуары для кухонных комбайнов,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Аксессуары для кухонных комбайнов,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Аксессуары для мультиварок,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
3,Аксессуары для мультиварок,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
4,Аксессуары для мясорубок,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,Хлебопечи,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
85,Хлебопечи,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
86,Чайники,1.000000,0.405920,0.259458,0.101655,0.327914,0.147054,0.297618,0.132798,0.232162,...,1.000000,0.000000,1.000000,0.0,0.0,NaN,NaN,0.000000,0.146394,0.124723
87,Стекло,1.000000,0.405920,0.259458,0.101655,0.327914,0.147054,0.297618,0.132798,0.232162,...,1.000000,0.000000,1.000000,0.0,0.0,NaN,NaN,0.000000,0.146394,0.124723
88,Итого:,0.099956,0.161768,0.321883,0.322936,0.396828,0.080121,0.242932,0.266020,0.328379,...,0.384375,0.115073,0.319077,0.0,0.0,0.0,0.060548,0.100026,0.188882,0.262326

In [12]:
unpivoted_df = pd.melt(df2, id_vars=['Unnamed: 1'], var_name='Shops', value_name='Value')
unpivoted_df = unpivoted_df.dropna()
unpivoted_df = unpivoted_df.drop_duplicates()
unpivoted_df = unpivoted_df[unpivoted_df['Value'] != 0]
unpivoted_df = unpivoted_df[unpivoted_df['Value'] != '#DIV/0!']
unpivoted_df = unpivoted_df.rename(columns = {'Unnamed: 1': 'Category'})
unpivoted_df = unpivoted_df[['Shops', 'Category', 'Value']]
unpivoted_df

                                           Shops       Category     Value
78     22091 Arena_S г. Алматы, пр. Суюнбая 38-а          Утюги  0.684152
79     22091 Arena_S г. Алматы, пр. Суюнбая 38-а  Утюги бытовые  0.684152
86     22091 Arena_S г. Алматы, пр. Суюнбая 38-а        Чайники  1.000000
87     22091 Arena_S г. Алматы, пр. Суюнбая 38-а         Стекло  1.000000
88     22091 Arena_S г. Алматы, пр. Суюнбая 38-а         Итого:  0.099956
...                                          ...            ...       ...
17792                                 ЦРС Астана           Фены  0.345536
17793                                 ЦРС Астана   Бытовые (DC)  0.345536
17797                                 ЦРС Астана        Чайники  0.124723
17798                                 ЦРС Астана         Стекло  0.124723
17799                                 ЦРС Астана         Итого:  0.262326

[2529 rows x 3 columns]

In [13]:
df_without_sums = unpivoted_df[(unpivoted_df['Category'] != 'Итого:')]
df_without_sums

                                           Shops       Category     Value
78     22091 Arena_S г. Алматы, пр. Суюнбая 38-а          Утюги  0.684152
79     22091 Arena_S г. Алматы, пр. Суюнбая 38-а  Утюги бытовые  0.684152
86     22091 Arena_S г. Алматы, пр. Суюнбая 38-а        Чайники  1.000000
87     22091 Arena_S г. Алматы, пр. Суюнбая 38-а         Стекло  1.000000
102    22101 Arena_S Алматы, мкр. Аксай 4, д. 30         Бритвы  0.367368
...                                          ...            ...       ...
17790                                 ЦРС Астана  Утюги бытовые  0.789833
17792                                 ЦРС Астана           Фены  0.345536
17793                                 ЦРС Астана   Бытовые (DC)  0.345536
17797                                 ЦРС Астана        Чайники  0.124723
17798                                 ЦРС Астана         Стекло  0.124723

[2342 rows x 3 columns]

In [14]:
df_with_sums = unpivoted_df[(unpivoted_df['Category'] == 'Итого:')]
df_with_sums = df_with_sums.replace('Итого:', 'Итог по магазину')
df_with_sums

,Shops,Category,Value
88,"22091 Arena_S г. Алматы, пр. Суюнбая 38-а",Итог по магазину,0.099956
177,"22101 Arena_S Алматы, мкр. Аксай 4, д. 30",Итог по магазину,0.161768
266,"22104 Arena_S Алматы, пр. Суюнбая 2, Корпус 9...",Итог по магазину,0.321883
355,"22109 Arena_S Алматы, ул. Толе би, д. 187",Итог по магазину,0.322936
444,"22112 Arena_S Алматы, ул. Сатпаева, д. 90, ТРК...",Итог по магазину,0.396828
...,...,...,...
17176,"22Z03 Arena_S с.Урджар, пр.Абылай Хан, д.87",Итог по магазину,0.319077
17532,"77D01 Arena_S обл.Западно-Казахстанская, с.Шын...",Итог по магазину,0.060548
17621,"77D07 Arena_S с.Таскала, ул.Абая, строение 6-б",Итог по магазину,0.100026
17710,Склады,Итог по магазину,0.188882
17799,ЦРС Астана,Итог по магазину,0.262326

In [15]:
final = df_without_sums.append([df_with_sums, df]).reset_index(drop=True)
final = final.drop_duplicates()
final

C:\Users\nsyrymbet\AppData\Local\Temp\ipykernel_31164\3103316715.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = df_without_sums.append([df_with_sums, df]).reset_index(drop=True)

,Shops,Category,Value,Qty Share
0,"22091 Arena_S г. Алматы, пр. Суюнбая 38-а",Утюги,0.684152,NaN
1,"22091 Arena_S г. Алматы, пр. Суюнбая 38-а",Утюги бытовые,0.684152,NaN
2,"22091 Arena_S г. Алматы, пр. Суюнбая 38-а",Чайники,1.0,NaN
3,"22091 Arena_S г. Алматы, пр. Суюнбая 38-а",Стекло,1.0,NaN
4,"22101 Arena_S Алматы, мкр. Аксай 4, д. 30",Бритвы,0.367368,NaN
...,...,...,...,...
2612,Итог по категориям,Сепаратор,1.0,1.0
2613,Итог по категориям,Мясорубки,0.168775,0.163851
2614,Итог по категориям,Соковыжималка,0.172375,0.133333
2615,Итог по категориям,Соковыжималка для цитрусовых,0.085102,0.076923
2616,Итог по категориям,Соковыжималка с центрифугой,0.295876,0.182927

In [16]:
final.to_excel(r"C:\Users\nsyrymbet\Desktop\shares su.xlsx", index=False)